.u-section-1 .u-sheet-1 {
  min-height: 280px;
}

.u-section-1 .u-group-1 {
  width: 1069px;
  min-height: 232px;
  margin: 24px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 30px 6px;
}

.u-section-1 .u-text-1 {
  margin: 1px -22px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -14px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -8px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -5px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2053px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 55px -1px 0 0;
}

.u-section-2 .u-image-1 {
  width: 900px;
  height: 900px;
  margin: 36px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  background-image: none;
  margin: 43px 0 0;
}

.u-section-2 .u-image-2 {
  width: 712px;
  height: 480px;
  margin: 36px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 43px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: -87px;
    margin-right: -66px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1873px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -51px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1577px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -38px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -57px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 364px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -24px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -171px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 229px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 782px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 40px 0 0;
}

.u-section-3 .u-image-1 {
  width: 942px;
  height: 477px;
  margin: 23px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 30px 0 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 476px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 365px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 274px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 173px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1654px;
}

.u-section-4 .u-group-1 {
  width: 1069px;
  min-height: 214px;
  margin: 26px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 30px 23px;
}

.u-section-4 .u-text-1 {
  margin: 0 -22px;
}

.u-section-4 .u-custom-html-1 {
  min-height: 520px;
  width: 1088px;
  margin: 45px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 82px 0 0;
}

.u-section-4 .u-image-1 {
  height: 455px;
  margin: 35px auto 11px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
    min-height: 231px;
    margin-top: 727px;
  }

  .u-section-4 .u-text-1 {
    margin-right: -14px;
    margin-left: 0;
  }

  .u-section-4 .u-custom-html-1 {
    height: auto;
    width: 940px;
    margin-top: -791px;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-right: -10px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 720px;
    margin-top: -828px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: -8px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 540px;
    margin-top: -885px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-right: -5px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 340px;
    margin-top: -942px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 3955px;
}

.u-section-5 .u-group-1 {
  width: 1069px;
  min-height: 121px;
  margin: 43px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 30px 23px;
}

.u-section-5 .u-text-1 {
  margin: 16px -22px 0;
}

.u-section-5 .u-text-2 {
  text-decoration: underline !important;
  margin: 49px 175px 0 643px;
}

.u-section-5 .u-image-1 {
  width: 581px;
  height: 310px;
  margin: 16px 46px 0 auto;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1;
  margin: -310px 638px 0 24px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 139px 24px 0;
}

.u-section-5 .u-custom-html-1 {
  min-height: 607px;
  width: 896px;
  margin: 57px auto 0;
}

.u-section-5 .u-text-5 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 89px 46px 0;
}

.u-section-5 .u-custom-html-2 {
  min-height: 607px;
  width: 896px;
  margin: 57px auto 0;
}

.u-section-5 .u-custom-html-3 {
  min-height: 607px;
  width: 896px;
  margin: 43px auto 0;
}

.u-section-5 .u-custom-html-4 {
  min-height: 607px;
  width: 896px;
  margin: 49px auto 35px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 940px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 75px;
    margin-left: 543px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 462px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-custom-html-1 {
    height: auto;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-custom-html-2 {
    width: 570px;
    height: auto;
  }

  .u-section-5 .u-custom-html-3 {
    height: auto;
  }

  .u-section-5 .u-custom-html-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 398px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 242px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 720px;
  }

  .u-section-5 .u-custom-html-3 {
    width: 720px;
  }

  .u-section-5 .u-custom-html-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3933px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 218px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 288px;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: -288px;
    margin-right: 62px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-5 .u-custom-html-2 {
    width: 540px;
  }

  .u-section-5 .u-custom-html-3 {
    width: 540px;
  }

  .u-section-5 .u-custom-html-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3826px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 18px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 181px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -181px;
    margin-right: 0;
  }

  .u-section-5 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-5 .u-custom-html-2 {
    width: 340px;
  }

  .u-section-5 .u-custom-html-3 {
    width: 340px;
  }

  .u-section-5 .u-custom-html-4 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 2648px;
}

.u-section-6 .u-group-1 {
  width: 1069px;
  min-height: 121px;
  margin: 60px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 30px 23px;
}

.u-section-6 .u-text-1 {
  margin: 16px -22px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 41px 53px 0;
}

.u-section-6 .u-custom-html-1 {
  min-height: 607px;
  width: 895px;
  margin: 53px auto 0;
}

.u-section-6 .u-custom-html-2 {
  min-height: 607px;
  width: 895px;
  margin: 70px auto 0;
}

.u-section-6 .u-custom-html-3 {
  min-height: 607px;
  width: 895px;
  margin: 70px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: 940px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-custom-html-1 {
    height: auto;
  }

  .u-section-6 .u-custom-html-2 {
    height: auto;
  }

  .u-section-6 .u-custom-html-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 720px;
  }

  .u-section-6 .u-custom-html-1 {
    width: 720px;
  }

  .u-section-6 .u-custom-html-2 {
    width: 720px;
  }

  .u-section-6 .u-custom-html-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-6 .u-custom-html-2 {
    width: 540px;
  }

  .u-section-6 .u-custom-html-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-6 .u-custom-html-2 {
    width: 340px;
  }

  .u-section-6 .u-custom-html-3 {
    width: 340px;
  }
}