.u-section-1 .u-sheet-1 {
  min-height: 4090px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  text-decoration: underline !important;
  margin: 16px 0 0 56px;
}

.u-section-1 .u-image-1 {
  width: 1140px;
  height: 457px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 18px 0 0;
}

.u-section-1 .u-text-3 {
  text-decoration: underline !important;
  margin: 47px 20px 0 550px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 469px;
  margin: 7px 20px 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1;
  margin: -336px 632px 0 30px;
}

.u-section-1 .u-text-5 {
  text-decoration: underline !important;
  margin: 238px 18px 0 550px;
}

.u-section-1 .u-line-1 {
  width: 572px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 7px 18px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
  margin: 102px 69px 0 599px;
}

.u-section-1 .u-image-3 {
  width: 489px;
  height: 520px;
  margin: -528px auto 0 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
  margin: 75px 69px 0 599px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
  margin: 24px 551px 0 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 607px;
  margin: 47px 145px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
  margin: 102px 69px 0 599px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 607px;
  margin: 60px 134px 48px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4497px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 377px;
  }

  .u-section-1 .u-text-2 {
    width: 589px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 370px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -406px;
    margin-right: 462px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 425px;
    margin-right: 20px;
    margin-left: 350px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -340px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 447px;
    margin-right: 0;
    margin-left: 468px;
  }

  .u-section-1 .u-image-3 {
    height: 519px;
    margin-top: -496px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 917px;
    margin-right: 0;
    margin-left: 468px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -156px;
    margin-right: 351px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-top: -224px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: -678px;
    margin-right: 0;
    margin-left: 468px;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    margin-top: 587px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4332px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 289px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 242px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 148px;
  }

  .u-section-1 .u-line-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 248px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 248px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 131px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 248px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4463px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 217px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 444px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 62px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 68px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 68px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 68px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3920px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 137px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 280px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 735px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: -397px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 137px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 361px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 982px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: -833px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 680px;
    margin-bottom: 48px;
  }
}